<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dinasour-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,18}</string>
                <key>spriteSize</key>
                <string>{371,332}</string>
                <key>spriteSourceSize</key>
                <string>{455,368}</string>
                <key>textureRect</key>
                <string>{{442,337},{371,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinasour-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-49}</string>
                <key>spriteSize</key>
                <string>{439,180}</string>
                <key>spriteSourceSize</key>
                <string>{455,368}</string>
                <key>textureRect</key>
                <string>{{346,1},{439,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinasour-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-53}</string>
                <key>spriteSize</key>
                <string>{385,142}</string>
                <key>spriteSourceSize</key>
                <string>{455,368}</string>
                <key>textureRect</key>
                <string>{{358,710},{385,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinasour-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,45}</string>
                <key>spriteSize</key>
                <string>{439,272}</string>
                <key>spriteSourceSize</key>
                <string>{455,368}</string>
                <key>textureRect</key>
                <string>{{1,357},{439,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinasour-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{343,354}</string>
                <key>spriteSourceSize</key>
                <string>{455,368}</string>
                <key>textureRect</key>
                <string>{{1,1},{343,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinasour-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,47}</string>
                <key>spriteSize</key>
                <string>{355,226}</string>
                <key>spriteSourceSize</key>
                <string>{455,368}</string>
                <key>textureRect</key>
                <string>{{1,631},{355,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinasour-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,68}</string>
                <key>spriteSize</key>
                <string>{409,152}</string>
                <key>spriteSourceSize</key>
                <string>{455,368}</string>
                <key>textureRect</key>
                <string>{{346,183},{409,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dinasou.png</string>
            <key>size</key>
            <string>{786,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6e46fe8d25a66d37582347132f2eaec:fcc86516281be953c082babd3a7cddde:356fe682eb135afdeaa1e3a8272ce0ee$</string>
            <key>textureFileName</key>
            <string>dinasou.png</string>
        </dict>
    </dict>
</plist>
