<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_Fallen_Angels_Running_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.584444,0.355556}</string>
                <key>spriteOffset</key>
                <string>{-9,-20}</string>
                <key>spriteSize</key>
                <string>{402,564}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1141,403},{402,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Running_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.584444,0.355556}</string>
                <key>spriteOffset</key>
                <string>{-7,-12}</string>
                <key>spriteSize</key>
                <string>{402,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,803},{402,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Running_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.584444,0.355556}</string>
                <key>spriteOffset</key>
                <string>{-23,-5}</string>
                <key>spriteSize</key>
                <string>{398,570}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{398,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Running_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.584444,0.355556}</string>
                <key>spriteOffset</key>
                <string>{-38,3}</string>
                <key>spriteSize</key>
                <string>{402,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{571,803},{402,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Running_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.584444,0.355556}</string>
                <key>spriteOffset</key>
                <string>{-40,-7}</string>
                <key>spriteSize</key>
                <string>{404,564}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{575,1207},{404,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Running_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.584444,0.355556}</string>
                <key>spriteOffset</key>
                <string>{-26,-13}</string>
                <key>spriteSize</key>
                <string>{400,566}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,401},{400,566}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Running_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.584444,0.355556}</string>
                <key>spriteOffset</key>
                <string>{-9,-20}</string>
                <key>spriteSize</key>
                <string>{400,564}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1149,1},{400,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Running_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.584444,0.355556}</string>
                <key>spriteOffset</key>
                <string>{-6,-14}</string>
                <key>spriteSize</key>
                <string>{402,570}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1141,807},{402,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Running_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.584444,0.355556}</string>
                <key>spriteOffset</key>
                <string>{-22,-8}</string>
                <key>spriteSize</key>
                <string>{398,574}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{573,1},{398,574}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Running_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.584444,0.355556}</string>
                <key>spriteOffset</key>
                <string>{-37,0}</string>
                <key>spriteSize</key>
                <string>{402,572}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,1207},{402,572}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Running_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.584444,0.355556}</string>
                <key>spriteOffset</key>
                <string>{-41,-9}</string>
                <key>spriteSize</key>
                <string>{404,570}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1141,1211},{404,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Running_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.584444,0.355556}</string>
                <key>spriteOffset</key>
                <string>{-26,-14}</string>
                <key>spriteSize</key>
                <string>{400,570}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{569,401},{400,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>list.png</string>
            <key>size</key>
            <string>{1714,1616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9ad426cf84ccb19ae4d688c1fa8e6af:2711da0be39fbd63c19dad962e0e3518:4a2eb95eb02800beaa9ae6f0e32805a3$</string>
            <key>textureFileName</key>
            <string>list.png</string>
        </dict>
    </dict>
</plist>
