<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_Fallen_Angels_Walking_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{402,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1145,803},{402,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Walking_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{402,570}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,1205},{402,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Walking_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-17}</string>
                <key>spriteSize</key>
                <string>{400,570}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{571,401},{400,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Walking_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-16}</string>
                <key>spriteSize</key>
                <string>{398,570}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{398,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Walking_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-18}</string>
                <key>spriteSize</key>
                <string>{398,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{573,1},{398,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Walking_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-21}</string>
                <key>spriteSize</key>
                <string>{400,572}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1143,401},{400,572}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Walking_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-24}</string>
                <key>spriteSize</key>
                <string>{402,574}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{573,1207},{402,574}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Walking_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{402,574}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1149,1207},{402,574}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Walking_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-19}</string>
                <key>spriteSize</key>
                <string>{400,572}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{571,803},{400,572}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Walking_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-17}</string>
                <key>spriteSize</key>
                <string>{398,572}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1143,1},{398,572}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Walking_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-19}</string>
                <key>spriteSize</key>
                <string>{398,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,401},{398,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_Fallen_Angels_Walking_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-20}</string>
                <key>spriteSize</key>
                <string>{400,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,801},{400,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>list.png</string>
            <key>size</key>
            <string>{1724,1610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cab3d90afa53d771a0c0e34b78fffcce:38cdd767129c121578585f51167f016a:4a2eb95eb02800beaa9ae6f0e32805a3$</string>
            <key>textureFileName</key>
            <string>list.png</string>
        </dict>
    </dict>
</plist>
